<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href=" {% static 'portfolio_design/assets/css/styles.css' %}">
        <script src=" {% static 'portfolio_design/assets/js/sessionend.js' %}"></script>

        <!-- =====BOX ICONS===== -->
        <!-- <link rel="stylesheet" href="path/to/boxicons/css/boxicons.min.css"> -->
        <!-- <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'> -->
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

        
        <title>Portfolio website complete</title>
    </head>
    <body>    
        {% csrf_token %} 
        <!--===== HEADER =====-->
        <div class="session_end" style="margin-top: 20px; text-align: center; padding-top: 10px;">
            <h1>Session Countdown</h1>
            <h1 style="left: 0; font-size: 24px; margin-bottom: 10px; color: black;">Session Countdown</h1>
            <p style="font-size: 16px; margin-top: 0; color: black;">This session will end in: <span style="color: red;" id="timer"></span> sec</p>
            <p id="message"></p>          
        </div>
        <h1 style="font-size: 50px; text-align: center; padding-top: 30px;"> Welcome To Our LDCE Web-O-Thon Project </h1>
        <header class="l-header">
            <nav class="nav bd-grid">
                <div>
                    <a href="#" class="nav__logo">Admins : Parth Patel, Smit Parikh</a>
                </div>
                <!-- Sessiob end code -->

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="#home" class="nav__link active">Home</a></li>
                        <li class="nav__item"><a href="#about" class="nav__link">About</a></li>
                        <li class="nav__item"><a href="#skills" class="nav__link">Skills</a></li>
                        <li class="nav__item"><a href="#work" class="nav__link">Work</a></li>
                        <li class="nav__item"><a href="#contact" class="nav__link">Contact</a></li>
                    </ul>
                </div>
                

                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>
            </nav>
        </header>

        <main class="l-main">
            <!--===== HOME =====-->
            <section class="home bd-grid" id="home">
                <div class="home__data">
                    <h1 class="home__title">Hi,<br>We'are <span class="home__title-color">Team Divine Knights</span><br>Web Designers</h1>

                    <a href="#" class="button">Contact</a>
                </div>

                <div class="home__social">
                    <a href="https://www.linkedin.com/in/smit-parikh-949677226" target="_blank" class="home__social-icon"><i class='bx bxl-linkedin'></i></a>
                    <a href="" class="home__social-icon"><i class='bx bxl-behance' ></i></a>
                    <a href="https://github.com/john-patel" target="_blank" class="home__social-icon"><i class='bx bxl-github' ></i></a>
                </div>

                <div class="home__img">
                    <svg class="home__blob" viewBox="0 0 479 467" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <mask id="mask0" mask-type="alpha">
                            <path d="M9.19024 145.964C34.0253 76.5814 114.865 54.7299 184.111 29.4823C245.804 6.98884 311.86 -14.9503 370.735 14.143C431.207 44.026 467.948 107.508 477.191 174.311C485.897 237.229 454.931 294.377 416.506 344.954C373.74 401.245 326.068 462.801 255.442 466.189C179.416 469.835 111.552 422.137 65.1576 361.805C17.4835 299.81 -17.1617 219.583 9.19024 145.964Z"/>
                        </mask>
                        <g mask="url(#mask0)">
                            <path d="M9.19024 145.964C34.0253 76.5814 114.865 54.7299 184.111 29.4823C245.804 6.98884 311.86 -14.9503 370.735 14.143C431.207 44.026 467.948 107.508 477.191 174.311C485.897 237.229 454.931 294.377 416.506 344.954C373.74 401.245 326.068 462.801 255.442 466.189C179.416 469.835 111.552 422.137 65.1576 361.805C17.4835 299.81 -17.1617 219.583 9.19024 145.964Z"/>
                            <image class="home__blob-img" x="1" y="-20" href="{% static 'portfolio_design/assets/img/parth_smit image.jpeg' %}"/>
                        </g>
                    </svg>
                </div>
            </section>

            <!--=====Parth'S ABOUT =====-->
            <section class="about section " id="about">
                <h2 class="section-title">About</h2>

                <div class="about__container bd-grid">
                    <div class="about__img">
                        <img src="{% static 'portfolio_design/assets/img/about page profile.jpg' %}" alt="">
                    </div>
                    
                    <div>
                        <h2 class="about__subtitle">I'am Parth Patel</h2>
                        <h3 class="about__subtitle">Backend Developer</h3>
                        <p class="about__text">
                            I specialize in creating dynamic and scalable web applications using Django.<br><br> With expertise in Python and a deep understanding of Django's powerful features, I deliver efficient, high-quality solutions.<br><br> From e-commerce platforms to API integrations, my projects showcase clean code architecture, modular design, and thorough testing. Let's collaborate to bring your vision to life using Django's capabilities.
                        </p>           
                    </div>                                   
                </div>
            </section>

            <!--===== SKILLS =====-->
            <section class="skills section" id="skills">
                <h2 class="section-title">Skills</h2>

                <div class="skills__container bd-grid">          
                    <div>
                        <h2 class="skills__subtitle">Profesional Skills</h2>
                        <p class="skills__text">I possess strong technical proficiency, problem-solving skills, excellent communication and collaboration abilities, adaptability, and attention to detail. These skills contribute to my success and effectiveness in the field.</p>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='bx bxl-html5 skills__icon'></i>
                                <span class="skills__name">HTML5</span>
                            </div>
                            <div class="skills__bar skills__html">

                            </div>
                            <div>
                                <span class="skills__percentage">95%</span>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='bx bxl-css3 skills__icon'></i>
                                <span class="skills__name">CSS3</span>
                            </div>
                            <div class="skills__bar skills__css">
                                
                            </div>
                            <div>
                                <span class="skills__percentage">65%</span>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='bx bxl-javascript skills__icon' ></i>
                                <span class="skills__name">JAVASCRIPT</span>
                            </div>
                            <div class="skills__bar skills__js">
                                
                            </div>
                            <div>
                                <span class="skills__percentage">35%</span>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class="bx bxl-python skills__icon"></i>
                                <span class="skills__name">Python</span>
                            </div>
                            <div class="skills__bar skills__ux">
                                
                            </div>
                            <div>
                                <span class="skills__percentage">85%</span>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class="bx bxl-django skills__icon"></i>
                                <span class="skills__name">Django</span>
                            </div>
                            <div class="skills__bar skills__django">
                                
                            </div>
                            <div>
                                <span class="skills__percentage">25%</span>
                            </div>
                        </div>
                    </div>
                    
                    <div>              
                        <img src="{% static 'portfolio_design/assets/img/work3.jpg' %}" alt="" class="skills__img">
                    </div>
                </div>
            </section>
            <!-- Smiit's About -->
            <section class="about section " id="about">
                <h2 class="section-title">About</h2>

                <div class="about__container bd-grid">
                    <div class="about__img">
                        <img style="height: 500px; width: 300px;" src="{% static 'portfolio_design/assets/img/smit profile pic.jpeg' %}" alt="">
                    </div>
                    
                    <div>
                        <h2 class="about__subtitle">I'am Smit Parikh</h2>
                        <h3 class="about__subtitle">Frontend Developer</h3>
                        <p class="about__text">
                            I bring a unique combination of skills, experience, and passion to my work. With a creative mindset, a meticulous eye for detail, and a drive for innovation, I strive to push boundaries and exceed expectations.<br><br>I thrive in dynamic environments, embracing challenges as opportunities for growth and constantly seeking new ways to enhance my craft.<br><br> With a commitment to delivering excellence, I am dedicated to making a meaningful impact and leaving a lasting impression through my work.
                        </p>           
                    </div>                                   
                </div>
            </section>

            <!--===== SKILLS =====-->
            <section class="skills section" id="skills">
                <h2 class="section-title">Skills</h2>

                <div class="skills__container bd-grid">          
                    <div>
                        <h2 class="skills__subtitle">Profesional Skills</h2>
                        <p class="skills__text">I bring a unique combination of skills, experience, and passion to my work. With a creative mindset, a meticulous eye for detail, and a drive for innovation, I strive to push boundaries and exceed expectations.</p>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='bx bxl-html5 skills__icon'></i>
                                <span class="skills__name">HTML5</span>
                            </div>
                            <div class="skills__bar skills__html_two">

                            </div>
                            <div>
                                <span class="skills__percentage">100%</span>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='bx bxl-css3 skills__icon'></i>
                                <span class="skills__name">CSS3</span>
                            </div>
                            <div class="skills__bar skills__css_two">
                                
                            </div>
                            <div>
                                <span class="skills__percentage">84%</span>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='bx bxl-javascript skills__icon' ></i>
                                <span class="skills__name">JAVASCRIPT</span>
                            </div>
                            <div class="skills__bar skills__js_two">
                                
                            </div>
                            <div>
                                <span class="skills__percentage">67%</span>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class="bx bxl-react skills__icon"></i>
                                <span class="skills__name">React</span>
                            </div>
                            <div class="skills__bar skills__ux_two">
                                
                            </div>
                            <div>
                                <span class="skills__percentage">24%</span>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class="bx bxl-unity skills__icon"></i>
                                <span class="skills__name">UI/UX Tools</span>
                            </div>
                            <div class="skills__bar skills__django_two">
                                
                            </div>
                            <div>
                                <span class="skills__percentage">40%</span>
                            </div>
                        </div>
                    </div>
                    
                    <div>              
                        <img src="{% static 'portfolio_design/assets/img/work3.jpg' %}" alt="" class="skills__img">
                    </div>
                </div>
            </section>

            <!--===== WORK =====-->
            <section class="work section" id="work">
                <h2 class="section-title">Work</h2>

                <div class="work__container bd-grid">
                    <a href="" class="work__img">
                        <img src="{% static 'portfolio_design/assets/img/work1.jpg' %}" alt="">
                    </a>
                    <a href="" class="work__img">
                        <img src="{% static 'portfolio_design/assets/img/work2.jpg' %}" alt="">
                    </a>
                    <a href="" class="work__img">
                        <img src="{% static 'portfolio_design/assets/img/work3.jpg' %}" alt="">
                    </a>
                    <a href="" class="work__img">
                        <img src="{% static 'portfolio_design/assets/img/work4.jpg' %}" alt="">
                    </a>
                    <a href="" class="work__img">
                        <img src="{% static 'portfolio_design/assets/img/work5.jpg' %}" alt="">
                    </a>
                    <a href="" class="work__img">
                        <img src="{% static 'portfolio_design/assets/img/work6.jpg' %}" alt="">
                    </a>
                </div>
            </section>

            <!--===== CONTACT =====-->
            <section class="contact section" id="contact">
                <h2 class="section-title">Contact</h2>

                <div class="contact__container bd-grid">
                    <form action="" class="contact__form">
                        {% csrf_token %}
                        <input type="text" placeholder="Name" class="contact__input">
                        <input type="mail" placeholder="Email" class="contact__input">
                        <textarea name="" id="" cols="0" rows="10" class="contact__input"></textarea>
                        <input type="button" value="Submit" class="contact__button button">
                        <!-- <button type="submit" class="contact__button button">Submit</button> -->
                    </form>
                </div>
            </section>
        </main>

        <!--===== FOOTER =====-->
        <footer class="footer">
            <p class="footer__title">Parth Patel - Smit Parikh</p>
            <div class="footer__social">
                <a href="#" class="footer__icon"><i class='bx bxl-facebook' ></i></a>
                <a href="#" class="footer__icon"><i class='bx bxl-instagram' ></i></a>
                <a href="#" class="footer__icon"><i class='bx bxl-twitter' ></i></a>
            </div>
            <p class="footer__copy">&#169; admin : Team Dvine Knights. All rigths reserved</p>
        </footer>


        <!--===== SCROLL REVEAL =====-->
        <script src="https://unpkg.com/scrollreveal"></script>

        <!--===== MAIN JS =====-->
        <script src="{% static 'portfolio_design/assets/js/main.js' %}"></script>
    </body>
</html>
